*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    max-width: 75%;
    margin: 0 auto;
}

.row
{
    margin: 20px;
}

.product
{ 
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
    padding: 5px;
}

.product img
{
    position: relative;
    width: 100%;
}

.favorite
{
    position: absolute;
    background-color: white ;
    font-size: 20px;
    padding: 5px 10px;
    top: 20px;
    right: 5px;
}

.absolute
{
    position: absolute;
}

.discount
{
    display: inline-block;
    position: absolute;
    border: 1px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: small;
    bottom: 20px;
    left: 20px;
    padding: 2px 6px;   
}

.eco
{
    display: inline-block;
    position: absolute;
    border: 1px solid black;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: small;
    bottom: 20px;
    left: 85px;
    padding: 2px 6px;  
}

.description
{   
    display: inline-block;
}

p strong
{
    color: red;
}

p > span
{
    text-decoration: line-through;
}

p strong, p > span
{
    font-size: small;
}

.description p
{
    font-size: small;
}

/* IMMAGINI */

.block
{
    display: block;
}

.none
{
    display: none;
}

.change-img:hover img:first-child
{
    display: none;
}

.change-img:hover img:last-child
{
    display: block;
}
