*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container
{
    max-width: 50%;
    margin: 0 auto;
}

.product
{ 
    display: inline-block;
    width: calc(100% / 3);
    padding: 5px;
}

.product img
{
    width: 100%;
}